<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/utilities.css">
</head>

<body>
    <nav class="nav-container flex-row align-center justify-sa">
        <div class="nav-brand t2 bold"><a href="/index.html">Keviv</a></div>
        <input type="text" class="nav-search" placeholder="Search for products,brands and more">
        <div class="nav-shop-items">
            <ul class="nav-categories-list flex-row semi-bold">
                <li class="nav-category-pill"><a href="/components/wishlist/wishlist.html">Wishlist</a></li>
                <li class="nav-category-pill"><a href="/components/cart/cart.html">Cart</a></li>
                <li class="nav-category-pill"><a href="#">Profile</a></li>
                <li class="nav-category-pill"><a href="/auth/login/login.html">Login</a></li>

            </ul>
        </div>
    </nav>
    <hr>
    <div class="nav-categories-container">
        <ul class="nav-categories-list flex-row justify-center">
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Apple</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Google</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Huawei</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Oneplus</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Samsung</a></li>
        </ul>
    </div>

    <div class="wrapper flex-row justify-center">
        
        <section class="product-container cart-container flex-row justify-center">
            
            <div class="cart-card flex-row justify-center align-center">
                <div class="cart-img">
                    <img src="/assets/card-img.jpg" class="cart-img img-responsive">
                </div>
                <div class="cart-details flex-column justify-sb">
                    <div class="cart-item t3 semi-bold">Apple</div>
                    <div class="cart-item semi-bold">Iphone 12 pro (8+512)</div>
                    <div class="cart-item flex-row justify-sb semi-bold">Quantity :
                        <button class="cart-item-count-btn">-</button>
                        02
                        <button class="cart-item-count-btn">+</button>
                    </div>
                    <div class="cart-item cart-item-price bold">Rs. 98700</div>
                    <button class="btn btn-cart-remove">REMOVE</button>
                </div>
            </div>
            <div class="cart-card flex-row justify-center align-center">
                <div class="cart-img">
                    <img src="/assets/card-img.jpg" class="cart-img img-responsive">
                </div>
                <div class="cart-details flex-column justify-sb">
                    <div class="cart-item t3 semi-bold">Apple</div>
                    <div class="cart-item semi-bold">Iphone 12 pro (8+512)</div>
                    <div class="cart-item flex-row justify-sb semi-bold">Quantity :
                        <button class="cart-item-count-btn">-</button>
                        01
                        <button class="cart-item-count-btn">+</button>
                    </div>
                    <div class="cart-item cart-item-price bold">Rs. 98700</div>
                    <button class="btn btn-cart-remove">REMOVE</button>
                </div>
            </div>
            <div class="cart-card flex-row justify-center align-center">
                <div class="cart-img">
                    <img src="/assets/card-img.jpg" class="cart-img img-responsive">
                </div>
                <div class="cart-details flex-column justify-sb">
                    <div class="cart-item t3 semi-bold">Apple</div>
                    <div class="cart-item semi-bold">Iphone 12 pro (8+512)</div>
                    <div class="cart-item flex-row justify-sb semi-bold">Quantity :
                        <button class="cart-item-count-btn">-</button>
                        01
                        <button class="cart-item-count-btn">+</button>
                    </div>
                    <div class="cart-item cart-item-price bold">Rs. 98700</div>
                    <button class="btn btn-cart-remove">REMOVE</button>
                </div>
            </div>
            <div class="cart-card flex-row justify-center align-center">
                <div class="cart-img">
                    <img src="/assets/card-img.jpg" class="cart-img img-responsive">
                </div>
                <div class="cart-details flex-column justify-sb">
                    <div class="cart-item t3 semi-bold">Apple</div>
                    <div class="cart-item semi-bold">Iphone 12 pro (8+512)</div>
                    <div class="cart-item flex-row justify-sb semi-bold">Quantity :
                        <button class="cart-item-count-btn">-</button>
                        01
                        <button class="cart-item-count-btn">+</button>
                    </div>
                    <div class="cart-item cart-item-price bold">Rs. 98700</div>
                    <button class="btn btn-cart-remove">REMOVE</button>
                </div>
            </div>
            
            
                

            
            
            
        </section>


        <aside class="side-bar-container cart-sidebar flex-column">
            <div class="side-bar-heading bold t4">PRICE DETAILS</div>
            <div class="filter-heading filter-heading-top">
                Total Price (4 ITEMS) : Rs. 699500
            </div>
            <div class="filter-heading">
                Discount : -Rs. 206000
            </div>
            <div class="filter-heading">
                Shipping : Free
            </div>
            <div class="filter-heading filter-heading-top">
                Final Price (4 ITEMS) : Rs. 493500
            </div>
            
            <div class="clear-button-content">
                <button class="btn clear-button btn-cart-remove btn-pay t4">PROCEED TO PAY</button>
            </div>
        </aside>
    </div>
        







</body>

</html>

<!-- 
<section class="cart-container flex-row justify-sa align-center">
    <div class="cart-heading flex-row ">MY CART(03)</div>
    <div class="cart-card flex-row justify-center align-center">
        <div class="cart-img">
            <img src="/assets/card-img.jpg" class="cart-img img-responsive">
        </div>
        <div class="cart-details flex-column justify-sb">
            <div class="cart-item t3 semi-bold">Apple</div>
            <div class="cart-item semi-bold">Iphone 12 pro (8+512)</div>
            <div class="cart-item flex-row justify-sb semi-bold">Quantity :
                <button class="cart-item-count-btn">-</button>
                03
                <button class="cart-item-count-btn">+</button>
            </div>
            <div class="cart-item cart-item-price bold">Rs.98700</div>
            <button class="btn btn-cart-remove">REMOVE</button>
        </div>
    </div>
    <div class="cart-card flex-row justify-center align-center">
        <div class="cart-img">
            <img src="/assets/card-img.jpg" class="cart-img img-responsive">
        </div>
        <div class="cart-details flex-column justify-sb">
            <div class="cart-item t3 semi-bold">Apple</div>
            <div class="cart-item semi-bold">Iphone 12 pro (8+512)</div>
            <div class="cart-item flex-row justify-sb semi-bold">Quantity :
                <button class="cart-item-count-btn">-</button>
                03
                <button class="cart-item-count-btn">+</button>
            </div>
            <div class="cart-item cart-item-price bold">Rs.98700</div>
            <button class="btn btn-cart-remove">REMOVE</button>
        </div>
    </div>
    <div class="card-pricing flex-column justify-center align-center">
        pricing
    </div>
</section>
</main> -->
<!-- <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-badge">AD</div>
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">ADD TO CART</button>
                    </div>
                </div>
            </div> -->