<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/utilities.css">
</head>

<body>
    <nav class="nav-container flex-row align-center justify-sa">
        <div class="nav-brand t2 bold"><a href="/index.html">Keviv</a></div>
        <input type="text" class="nav-search" placeholder="Search for products,brands and more">
        <div class="nav-shop-items">
            <ul class="nav-categories-list flex-row semi-bold">
                <li class="nav-category-pill"><a href="/components/wishlist/wishlist.html">Wishlist</a></li>
                <li class="nav-category-pill"><a href="/components/cart/cart.html">Cart</a></li>
                <li class="nav-category-pill"><a href="#">Profile</a></li>
                <li class="nav-category-pill"><a href="/auth/login/login.html">Login</a></li>


            </ul>
        </div>
    </nav>
    <hr>
    <div class="nav-categories-container">
        <ul class="nav-categories-list flex-row justify-center">
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Apple</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Google</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Huawei</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Oneplus</a></li>
            <li class="nav-category-pill"><a href="/components/product-listing/product.html">Samsung</a></li>
        </ul>
    </div>
    <hr>

    <div class="wrapper flex-row justify-center">
        <section class="product-container flex-row justify-center wishlist-container">
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-badge">AD</div>
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-badge">Trending</div>
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
            <div class="card-ecom card">
                <img src="/assets/card-img.jpg" alt="iPhone Image" class="card-img card-img-ecom">
                <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
                <div class="card-header">
                    <div class="card-sub-title">Apple</div>
                    <div class="card-title">Iphone 12 pro (8+512)</div>
                    <div class="card-ecom-price">
                        <span class="card-ecom-price-current">Rs.98700</span>
                        <span class="card-ecom-price-old">Rs.139900</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-btn-box">
                        <button class="btn default-primary">GO TO CART</button>
                    </div>
                </div>
            </div>
        </section>
    </div>








</body>

</html>